body {
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.game-container {
    width: 326px;
    margin: auto;
}
#tic-tac-toe .game-title {
    text-align: center;
}
.win-info {
    color: #fff;
    padding: 0.5em;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,.3);
}
.win-info.x {
    background-color: #e63946;
}
.win-info.o {
    background-color: #fdc500;
}
#tic-tac-toe .disable {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    /* font-family: sans-serif, "Times New Roman", Times, serif */
}
#tic-tac-toe ul#game {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 326px;
    margin: auto;
    font-weight: 700;
}

#tic-tac-toe #game li.btn {
    list-style: none;
    text-align: center;
    color: #fff;
    font-size: 33px;
    margin: 0.5em;
    line-height: 2;
    width: 70px;
    height: 70px;
    background-color: #1d3557;
    cursor: pointer;
    user-select: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,.3);
}

#tic-tac-toe #game li.disable {
    color: #fff;
    transition: 0.5s ease all;
}
#tic-tac-toe #game li.disable.o {
    background-color: #fdc500;
}
#tic-tac-toe #game li.disable.x {
    background-color: #e63946;
}
.btn.reset {
    background-color: #011627;
    color: #fff;
    border: none;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,.3);
    cursor: pointer;
}
.btn.reset:hover{
    background-color: #82041b;
}

/*******class utils******/
.d-flex {
    display: flex;
}
.m-1 {
    margin: 1em;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-between {
    justify-content: space-between;
}
.mx-05 {
    margin-left: 0.5em;
    margin-right: 0.5em;
}